
IDD_ADDTASK DIALOGEX 0, 0, 250, 100
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Add Task"
FONT 8, "MS Shell Dlg", 400, 0
BEGIN
     EDITTEXT        IDC_TASKDESCRIPTION,10,10,230,20, ES_AUTOHSCROLL | WS_TABSTOP
    PUSHBUTTON      "OK",IDOK,110,70,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,170,70,50,14
END
